  <div class="shot-container">
  <div id="danmu"></div>
  </div>
  <div class="info-container">
      <div class="info-content">
      <img class="info-avatar" src="{{asset "img/rubick.jpg"}}">
      <div class="info-link">
        <a class="info-icon extra" href="/code" target="_blank"><i class="code icon"></i></a>
        <a class="info-icon extra" href="/stat" target="_blank"><i class="bar chart icon"></i></a>
        <a class="info-icon extra" href="/fragment" target="_blank"><i class="puzzle icon"></i></a>
        <a class="info-icon extra" href="http://blink-dagger.com:1314/dubhe"><i class="marker icon"></i></a>
        <div style="width: 100px; height: 100px; float: left; margin: 0 20px;"></div>
        <a class="info-icon" href="http://blink-dagger.com:8555"><i class="film icon"></i></a>
        <a class="info-icon" href="https://blink-dagger.com:1990"><i class="iconfont python"></i></a>
        <a class="info-icon extra" href="http://blink-dagger.com:2009" target="_blank"><i class="iconfont Rlogo" style="font-size:1.80em"></i></a>
        <a class="info-icon extra" href="http://blink-dagger.com:2013" target="_blank"><i class="iconfont mongodb"></i></a>
      </div>
      </div>
  </div>